/* .section {
  max-width: 60rem;
  margin: 1.5rem auto;
} */

.animate {
  animation: appear 1s ease-out forwards;
}

.card {
  text-align: center;
  max-width: 45rem;
  width: 95%;
  margin: auto;
  position: relative;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sticky-row {
  position: sticky;
  z-index: 10;
  top: -68px;
}
