.content-wrapper {
  --background: var(--ion-item-background);
  --offsetY: 0;
  --imgHeight: 350;
  --turningPoint: calc(var(--imgHeight) - 50 - 44);
}

.title {
  font-size: 1.125rem !important;
  font-weight: 500;
}

.item {
  color: #a0a0a0;
  font-weight: 300;
  font-size: 0.875rem;
}

.grid {
  display: grid;
  grid-template-areas:
    "header"
    "image"
    "content"
    "action";
  grid-template-rows: 0px 350px auto 56px;
  min-height: 100vh;
}

@media only screen and (min-width: 960px) {
  .grid {
    display: grid;
    width: fit-content;
    grid-template-areas:
      "image header"
      "image content"
      "image action";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 44px auto 56px;
    max-width: 1140px;
    max-height: 576px;
    min-height: auto;
    height: 100vh;
  }
}

@media only screen and (min-width: 960px) and (min-width: 1248px) {
  .grid {
    min-width: 1200px;
  }
}

.image-container {
  grid-area: image;
  overflow: hidden;
  display: flex;
  text-align: center;
  flex-flow: nowrap row;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-height: 350px;

  transform: translateY(calc(0.5px * min(var(--offsetY), var(--imgHeight))));
}

@media only screen and (min-width: 960px) {
  .image-container img {
    max-height: 100%;
    padding: 10px;
  }
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
  overflow-y: auto;
}

@media only screen and (min-width: 960px) {
  .content {
    padding: 0px 35px;
  }
}

.action {
  grid-area: action;
}

@media only screen and (max-width: 960px) {
  .action {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 56px;
  }
}

.toolbar {
  position: fixed;
  --padding-start: 10px;
  --padding-top: 10px;
  opacity: clamp(
    0,
    calc(
      calc(var(--offsetY) - var(--turningPoint)) /
        calc(var(--imgHeight) - var(--turningPoint) - 44)
    ),
    1
  );
}

.header-toolbar {
  position: fixed;
  width: 50%;
  --background: "#";
  --padding-start: 10px;
  --padding-top: 10px;
}

.round-adjust {
  --padding-start: 10.6875px !important;
  --padding-end: 10.6875px !important;
}

.padded {
  --padding-start: "10.6875px";
  --padding-end: "10.6875px";
}

.add-button {
  margin: 0px 30px;
}

.text-area {
  margin: 0px;
}

.text-area textarea {
  min-height: 38px;
}
